[Bb]in/
[Oo]bj/
out/
.vscode/
.vs/
*.user
*.userosscache
*.sln.doccache
.DS_Store
*.swp
*~
.vs/
.idea/
.project
.settings/
.classpath
.factorypath
node_modules/
dist/
temp/
logs/
*.log
.env
.env.*
!.env.example
